<mtapp:setting id="client_id" label="<__trans phrase='Client ID'>"
    hint="<__trans phrase="Client ID of application for Microsoft Translator API">" show_hint=1>
    <input type="text" name="blog_client_id" id="blog_client_id"
        value="<mt:GetVar name="blog_client_id">" />
</mtapp:setting>

<mtapp:setting id="client_secret" label="<__trans phrase='Client Secret'>"
    hint="<__trans phrase="Client Secret of application for Microsoft Translator API">" show_hint=1>
    <input type="text" name="blog_client_secret" id="blog_client_secret"
        value="<mt:GetVar name="blog_client_secret">" />
</mtapp:setting>

<mt:setvarblock name="lang_hint"><__trans phrase="The language before translating. (This list is created based on <a target="_blank" href="http://msdn.microsoft.com/en-us/library/hh456380.aspx">this page</a>.)" /></mt:setvarblock>
<mtapp:setting id="from" label="<__trans phrase='Language'>"
    hint="$lang_hint" show_hint=1>
    <select name="blog_lang" id="blog_lang">
    <mt:loop name="language_codes">
        <option value="<mt:var name="code">"<mt:if name="selected"> selected="selected"</mt:if>>
            <mt:var name="name">
        </option>
    </mt:loop>
    </select>
</mtapp:setting>
