<mtapp:setting id="client_id" label="<__trans phrase='Client ID'>"
    hint="<__trans phrase="Client ID of application for Microsoft Translator API">" show_hint=1>
    <input type="text" name="system_client_id" id="system_client_id"
        value="<mt:GetVar name="system_client_id">" />
</mtapp:setting>

<mtapp:setting id="client_secret" label="<__trans phrase='Client Secret'>"
    hint="<__trans phrase="Client Secret of application for Microsoft Translator API">" show_hint=1>
    <input type="text" name="system_client_secret" id="system_client_secret"
        value="<mt:GetVar name="system_client_secret">" />
</mtapp:setting>

<mtapp:setting id="from" label="<__trans phrase='Language'>"
    hint="<__trans phrase="The language before translating.">" show_hint=1>
    <input type="text" name="system_lang" id="system_lang"
        value="<mt:GetVar name="system_lang">" />
</mtapp:setting>
